* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}

body {
    background-color:#751B12;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contenedor__banner--logo {
    position: absolute;
    top: 1%;
    left: -3%;
    transform: scale(0.5); 
}

.contenedor__contenido {
    display: flex;
    align-items: center; 
    margin-top: 6rem;
    transform: scale(0.8);
}

.tituloUno {
    font-weight: 600;
    font-size: 2rem;
    color: white;
}

.imgUno {
    width: 25px;
    margin-right: 1rem; 
}

.imgUno:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.imgDos {
    position: absolute; 
    top: 12rem;
    right: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    transform: scale(0.6);
}

.contenedor__cajita {
    position: relative;
    background: linear-gradient(to bottom,  rgba(92,1,1,1), rgba(155,17,17,1)); 
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    width: 390px;
    height: 400px;
    margin-top: 2rem;
    transform: translate(-50%);
}

.contenedor__cajita--registro {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-48.5%, -55%);
}

.p--negro {
    font-size: 0.71rem;
    color: white;
    margin-top: 1.1rem;
    margin-right: 7.3rem;
    font-weight: 700;
}

.p--negro2 {
    font-size: 0.71rem;
    color: white;
    margin-top: 0.8rem;
    margin-right: 12.3rem;
    font-weight: 700;
}

.p--negro3 {
    font-size: 0.71rem;
    color: white;
    margin-top: 0.8rem;
    margin-right: 6.6rem;
    font-weight: 700;
}

.p--negro4 {
    font-size: 0.71rem;
    color: white;
    margin-top: 0.8rem;
    margin-right: 10.1rem;
    font-weight: 700;
}

.contenedor__cajita--input {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 0.35rem;
    margin-right: 1rem;
}

.contenedor__cajita--input i {
    margin-right: 0.5rem; 
    color: #000000; 
}

.lineInput {
    flex: 1;
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 0.5rem;
    background-color: white;
    padding: 0.5rem;
    width: 16rem;
    height: 40px;
    outline: none;
    font-size: 0.75rem;
}

.lineInput::placeholder {
    transform: translateY(-20%);
}

.lineInput:focus {
    border-color: #B00000;
}

.contenedor__cajita--ingresar {
    padding: 0.3rem 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: none;
    border-radius: 1.6rem;
    background: linear-gradient(45deg, #B75601, #D8B504); 
    color: #FFFFFF; 
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: background 0.3s ease; 
    transform: scale(1.3);
}

.contenedor__cajita--ingresar:hover {
    background: linear-gradient(45deg, #FFD700, #FFA500);
}

.contenedor__cajita2 {
    position: relative;
    background: linear-gradient(to bottom,  rgba(92,1,1,1), rgba(155,17,17,1)); 
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    width: 390px;
    height: 400px;
    margin-top: 2rem;
    transform: translate(105%);
}

.contenedor__cajita2 img {
    width: 200px;
    height: auto;
    margin-left: 5rem;
    margin-top: 2rem;
}

.contenedor__cajita2 p {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 1rem;
}